@import "~@/styles/variables.scss";
@import "~@/styles/mixin.scss";

$rowSelectedBorderWidth: 2px;
$rowSelectedBorderColor: lighten($colorPrimary, 15%);
$rowSelectedBgColor: rgba($colorPrimary, 0.1);

$miniCellPadding: 2px;

.fx-table {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &.is--out-border {
    border: 1px solid #ebeef5;
  }

  &.is--no-transition * {
    transition: none !important;
  }

  &.is--show-aside {
  }

  &.is--has-toolbar {
    .fx-table--main {
      padding-top: 0 !important;
    }
  }

  &.is--has-pagination {
    .fx-table--main {
      padding-bottom: 0 !important;
    }
  }

  &.is--full-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 4;
  }

  .fx-table--header {
    overflow: hidden;
  }

  .fx-table--body {
    position: relative;

    .fx-aside {
      z-index: 2;
    }

    .fx-table--main {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      .fx-table--toolbar {
      }

      .fx-table--searchbar {
        border-radius: 4px;
        overflow: hidden;
      }

      .el-drawer__wrapper {
        position: absolute;
        *:focus {
          outline: none;
        }
      }

      .fx-table--fixedbar {
        position: absolute;
        width: 100%;
        height: auto;
        max-height: 100%;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        // background: yellowgreen;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
        overflow-y: auto;
      }

      .fx-table--table {
        border: 2px solid rgb(226, 234, 237);
        // border-radius: 4px;
        padding: 0 10px;
        overflow: hidden;
        box-shadow: 0 0 3px 6px rgba(240, 246, 248, 0.7);
        position: relative;

        * {
          @include scrollBar;
        }

        .el-table {
          &.el-table--mini {
            tr td {
              padding: $miniCellPadding 0;
            }
          }
          &:before,
          .el-table__fixed:before {
            display: none;
          }
          &.el-table--border {
            &:before,
            .el-table__fixed:before {
              display: block;
            }
          }

          &.el-table--striped .el-table__body tr.el-table__row--striped td {
            background-color: rgb(245, 250, 252);
          }

          th {
            border-bottom-color: rgb(189, 205, 214);
            border-bottom-width: 2px;
            font-size: 14px;
            color: $textColorLight;
          }

          td {
            border-bottom: none;
          }

          tr {
            td {
              padding: 6px 0;
              transition: border-color ease 0.2s;
              border-bottom: $rowSelectedBorderWidth solid transparent;
              border-top: $rowSelectedBorderWidth solid transparent;
              &:first-child {
                border-left: $rowSelectedBorderWidth solid transparent;
              }
              &:last-child {
                border-right: $rowSelectedBorderWidth solid transparent;
              }
            }
          }

          tr.is--selected {
            td {
              background-color: $rowSelectedBgColor !important;
              border-bottom-color: $rowSelectedBorderColor;
              border-top-color: $rowSelectedBorderColor;
              &:first-child {
                border-left-color: $rowSelectedBorderColor;
              }
              &:last-child {
                border-right-color: $rowSelectedBorderColor;
              }
            }
          }

          .el-table__body {
            border-spacing: 0 5px;
          }
        }
      }

      .fx-table--pagination {
        overflow: hidden;
        .fx-pager {
          margin: 9px 0 0 0;

          .el-pagination {
            padding: 2px 0;
            .el-select .el-input {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .fx-table--footer {
  }
}
