// 主题色
$colorPrimary: #3a86cc;
$colorPrimaryActive: #0f60a8;

$colorSecondary: #89b7dc;
$colorSecondaryActive: #63a5d3;
$bgColorLight: #d9dfe2;
$bgColorPrimary: #262e38;
$bgColorSecondary: #424d55;

$textColor: #71787c;
$textColorLight: #93a0aa;

$colorWarning: #ffaa00;

// 基础色
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// 顶部
$topBarHeight: 60px;

// 侧边栏
$menuText: rgb(144, 163, 175);
$menuActiveText: #fff;
$subMenuActiveText: #f4f4f5;
$menuBg: rgb(45, 56, 64);
$menuHover: #263445;
$subMenuBg: rgb(42, 42, 42);
$subMenuHover: rgba($colorPrimary, 0.2);
$sideBarWidth: 210px;
$sideBarMinWidth: 54px;

// navbox
$navbarHeight: 44px;
$tagsViewHeight: 38px;
$navboxHeight: $navbarHeight + $tagsViewHeight;

// app-main

// 全局栅栏布局间隔
$gutter: 12px;

// 全局圆角弧度
$radius: 4px;

// the :export directive is the magic sauce for webpack
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  gutter: $gutter;
  radius: $radius;
  topBarHeight: $topBarHeight;
  navbarHeight: $navbarHeight;
  tagsViewHeight: $tagsViewHeight;
}
